html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Barra de navegacion*/
.navbar{display: flex; justify-content: center; align-items: center; padding: 50px}
.navbar{height: 63px; background-color: #5D978B}
.button{padding: 30px}
.textb{color: #4C7A71; background: #C6E8E1;padding: 0 20px; text-decoration: none; text-transform: uppercase; font: 30px 'Stint Ultra Condensed'}

.navbar2{display: flex; justify-content: center; align-items: center;}
.navbar2{height: 63px; background-color: #21618C}
.navbar2 a{color: #fff; padding: 0 20px; text-decoration: none; text-transform: uppercase; font: 20px 'Stint Ultra Condensed'}

.content{padding: 0px 0;}
.content{background: #AED6F1; color: #2874A6}
.content{text-align: center;}

/*Tablas de autos*/

/*Tablas de Autos*/
#main-container{
	margin: 150px auto;
	width: 600px;
}
table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 20px;
}

thead{
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #369681;
	color: white;
}
.Titulo{text-align: center; font: 800 40px/1.7 'Roboto Condensed';}
.title{margin-bottom: 40px; font: 60px 'Stint Ultra Condensed'; text-transform: uppercase; text-align: left;}
.tarifas{text-align: left;}
.tarifas{background: url(../BMW/BMW.jpg) no-repeat right center; max-width: 1200px; height: 500px; color: #000}
.btn{border: 2px solid #1B2631; padding: 10px 40px; display: inline-block; text-decoration: none; color: #1B2631;}
.contain{max-width: 1055px; margin: 0 auto;}
.content2{padding: 300px 0;}


/*------------------------------*/
/*Titulo*/
.titulo{text-align: center; font: 800 40px/1.7 'Roboto Condensed';}
.titulo{height: 63px}

/*Servicios Parrafo incial*/
.Parrafo {text-align: center; font: 400 20px/1.7 'Roboto Condensed';}

.Parrafo {max-width: 1055px ;max-height: 500px; margin: 0 auto;}

/*Imagenes de Marcas*/
.list-services figure { position: relative; width: 150px; height: 190px;}
.list-services img {position: relative; z-index: 1;}
.list-services li { padding: 0 30px; }
.list-services figcaption { position: relative; left: 0; right: 0; bottom: -40px;}
