body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: url(../Fondos/Autos.jpg);
  background-size: cover;
  background-attachment: fixed;
}
*{
  box-sizing: border-box;
}

.contenedor{
  width: 100%;
  padding: 15px;
}

.box{
  margin-bottom: 0px;
  border: none;
padding: 10px;
width: 250px;
height: 50px;

}
.bad{height: 63px; background-color: #FF5733}
.bad{display: flex; justify-content: center; align-items: center;}
.ok{height: 63px; background-color: #00FF3A}
.ok{display: flex; justify-content: center; align-items: center;}
.formulario{
  background: #fff;
  margin-top: 150px;
  padding: 3px;
}
h1{
  text-align: center;
  color: #1a2537;
  font-size: 40px;
}

.btn{border: 2px solid #1B2631; padding: 10px 40px; display: inline-block; text-decoration: none; color: #1B2631; align-items: center}
input[type="text"],
input[type="password"],
input[type="box"],
input[type="number"],
input[type="email"],
input[type="date"]{
  font-size: 20px;
  width: 82%;
  padding: 10px;
  border: none;
}
.input-contenedor{
  margin-bottom: 15px;
  border: 1px solid #aaa;
}
.icon{
  min-width: 50px;
  text-align: center;
  color:#999;
}
.buttom{
  border: none;
  width: 100%;
  color: white;
  font-size: 20px;
  background: #1a2537;
  padding: 15 20px;
  border-radius: 10px;
  cursor: pointer;
}
.buttom:hover{
  background: cadetblue;

}

p{
  text-align: center;
  background-color: #fff:
}

.link{
  text-decoration: none;
  color: #1a2537;
  font-weight: 600;
}

.link:hover{
  color: cadetblue;
}
@media (min-width: 768px){
  .formulario{
    margin: auto;
    width: 500px;
    margin-top: 150px;
    border-radius: 2%;
  }
}
